@using UniQode.Web.Helpers
@model UniQode.Models.Shared.NewsArticleModel

@{
    ViewBag.Title = @Model.Title;
    ViewBag.Description = @Model.Body;
}
<div class="top-area">
    <img class="logo" src="/content/img/logo.png" alt="uniQode" />
    <div class="note green">
        @Model.Category
    </div>
    <div class="trailing-arrow green">

    </div>
</div>
<div id="news" class="news">
    <div class="title">
        <h2>@Model.Title</h2>
        <h3>@Model.Created.ToString("dd MMM, yyyy").ToUpper()</h3>
    </div>
    <div class="trailing-arrow green-opac">

    </div>
    <div class="container body-content">
        @Html.Raw(Model.Body)
    </div>
    <div class="container body-content social-content">
                @LinkHelper.ShareOnLinkedIn(Request.Url?.AbsoluteUri)
                @LinkHelper.ShareOnFacebook(Request.Url?.AbsoluteUri)
    </div>
</div>