@using UniQode.Entities.Data
@model IEnumerable<UniQode.Models.Shared.EmployeeModel>
<div id="whoweare" class="employees hidden-sm hidden-xs">
    <div class="fading-overlay"></div>
    <div class="title">
        <h2>
            We hire amazing people
            <span class="secondary">That do amazing stuff</span>
        </h2>
    </div>
    <div class="employees-body">
        <ul>
            @foreach (var employee in Model)
            {
                <li class="employee default">
                    <img alt="@employee.FirstName @employee.LastName" src="@employee.ProfilePicture.SquareUrl" />
                    <div class="green-overlay"></div>
                    <div class="name-overlay">
                        @employee.FirstName @employee.LastName
                        <span class="employee-title">@employee.Title</span>
                    </div>
                </li>
            }
        </ul>
        <div style="clear: both;">

        </div>
    </div>
</div>
