@model IEnumerable<UniQode.Models.Shared.EmployeeModel>
<div class="spotlight">
    <div class="title">
        <h2>
            Seen enough?
            <span class="secondary">Hear from us!</span>
        </h2>
    </div>
    <div class="trailing-arrow dark-green">

    </div>
    <div class="container body-content">
        <div class="row">
            <div class="col-md-7">
                <div class="row">
                    <h3>Spotlight</h3>
                </div>
                @foreach (var qna in Model.ElementAt(0).Spotlights)
                {
                    <div class="row indent">
                        <h4>@qna.SpotlightQuestion.Text</h4>
                        @qna.Answer
                    </div>
                }
            </div>
            <div class="col-md-5 employee-area">
                <img alt="@Model.ElementAt(0).FirstName @Model.ElementAt(0).LastName" src="@Model.ElementAt(0).ProfilePicture.OriginalUrl" />
                <div class="employee-info right">
                    @Model.ElementAt(0).FirstName @Model.ElementAt(0).LastName
                    <span class="employee-title">@Model.ElementAt(0).Title</span>
                </div>
                <div class="fading-overlay">
                    
                </div>
            </div>
        </div>
    </div>
</div>
