@model IEnumerable<UniQode.Models.Shared.WorkFieldModel>
<div class="container">
    <h2>What we do</h2>
    <hr />
    @foreach (var item in Model)
    {
        <div class="col-md-offset-2 col-md-10" style="margin-bottom: 10px;">
            @Html.Label(item.Title)<br />
            @Html.TextBox(item.Title)
            @Html.ValidationMessage(item.Title)
        </div>
        <div class="col-md-offset-2 col-md-10" style="margin-bottom: 10px;">
            @Html.Label(item.Description)<br />
            @Html.TextBox(item.Description)
            @Html.ValidationMessage(item.Description)
        </div>
    }
</div>